.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

HandsToDrums.iml

app/app.iml

.idea/vcs.xml

app/app.iml

.idea/.name

.idea/encodings.xml

.idea/gradle.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

app/app.iml

.idea/.name

.idea/.name

.idea/gradle.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

app/app.iml

*.xml

*.iml

.idea/.name
